<div class="container-fluid">
  <div class="div-header">
    <h1 class="text-center">
      Dobro došli u {{ title }} aplikaciju!
    </h1>
    <div class="form-row float-right">
      <button class="btn btn-info" routerLink="/login">
        <i class="fa fa-sign-out"></i>Logout
      </button>
    </div>
    <img class="img-banner d-block mx-auto" src="./assets/images/shopping_image.jpg" alt="Shopping_slika">
  </div>
  <div class="div-body">
    <router-outlet></router-outlet>
  </div>
  <div class="my-3 section-break">
    <app-message-list></app-message-list>
  </div>
</div>